In [9]:
import numpy as np
import pandas as pd

df_original = pd.read_csv("eda_data.csv")
df = df_original.copy()
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,-17.933519,6.559220,-14.452810,-4.732855,0.381673,2.563194,"($1,306.52)",-89.394348,-28.454044,-16.201298,-0.01%,0.217010,9.729891,-0.786431,0.666146
1,-37.214754,10.774930,-15.384004,-0.077339,10.983774,-15.210206,($24.86),153.032652,-32.557736,69.675903,0.00%,-3.584908,35.727926,-0.985552,0.378411
2,0.330441,-19.609972,-9.167911,2.064124,12.071688,12.506141,($110.85),-141.437276,-20.794952,55.042604,0.00%,-3.991366,-9.283523,-3.394718,0.624498
3,-13.709765,-8.011390,6.759264,1.727615,-1.768382,24.039733,($324.43),51.039653,-7.046908,-31.424419,0.01%,7.908897,-2.891882,-2.690222,0.126622
4,-4.202598,7.076210,-26.004919,-4.269696,-3.414224,2.115989,"$1,213.37",-31.046700,19.061182,-31.525515,-0.01%,0.846719,25.497480,3.516801,0.640025

In [8]:
df.dtypes

x0     float64
x1     float64
x2     float64
x3     float64
x4     float64
x5     float64
x6      object
x7     float64
x8     float64
x9     float64
x10     object
x11    float64
x12    float64
x13    float64
y      float64
dtype: object

In [15]:
# clean up column x6 to remove currency indicators and change type to a float

df['x6'] = df['x6'].str.replace(',', '')
df['x6'] = df['x6'].str.replace('$', '')
df['x6'] = df['x6'].str.replace('(', '')
df['x6'] = df['x6'].str.replace(')', '')
df['x6'] = df['x6'].astype('float')
df.dtypes

/var/folders/tr/lrj2g9jj48b3h_1g08xgzp8r0000gn/T/ipykernel_11770/737347718.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['x6'] = df['x6'].str.replace('$', '')
/var/folders/tr/lrj2g9jj48b3h_1g08xgzp8r0000gn/T/ipykernel_11770/737347718.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['x6'] = df['x6'].str.replace('(', '')
/var/folders/tr/lrj2g9jj48b3h_1g08xgzp8r0000gn/T/ipykernel_11770/737347718.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['x6'] = df['x6'].str.replace(')', '')

x0     float64
x1     float64
x2     float64
x3     float64
x4     float64
x5     float64
x6     float64
x7     float64
x8     float64
x9     float64
x10     object
x11    float64
x12    float64
x13    float64
y      float64
dtype: object

In [20]:
# clean column x10 to remove and convert the percentage string to a numeric

df['x10'] = df['x10'].str.rstrip('%').astype(float)/100
df.dtypes

x0     float64
x1     float64
x2     float64
x3     float64
x4     float64
x5     float64
x6     float64
x7     float64
x8     float64
x9     float64
x10    float64
x11    float64
x12    float64
x13    float64
y      float64
dtype: object

In [21]:
# start the EDA process

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      9996 non-null   float64
 1   x1      9995 non-null   float64
 2   x2      9996 non-null   float64
 3   x3      9997 non-null   float64
 4   x4      9997 non-null   float64
 5   x5      9999 non-null   float64
 6   x6      9996 non-null   float64
 7   x7      9998 non-null   float64
 8   x8      9999 non-null   float64
 9   x9      9996 non-null   float64
 10  x10     9997 non-null   float64
 11  x11     9995 non-null   float64
 12  x12     9999 non-null   float64
 13  x13     9998 non-null   float64
 14  y       9999 non-null   float64
dtypes: float64(15)
memory usage: 1.1 MB

In [22]:
# check for duplication

df.nunique()

# since column x10 was previously a percentage column with relatively similar values, this output is expected

x0     9996
x1     9995
x2     9996
x3     9997
x4     9997
x5     9999
x6     9715
x7     9998
x8     9999
x9     9996
x10       9
x11    9995
x12    9999
x13    9998
y      9999
dtype: int64

In [23]:
# check for missing values

df.isnull().sum()

x0     3
x1     4
x2     3
x3     2
x4     2
x5     0
x6     3
x7     1
x8     0
x9     3
x10    2
x11    4
x12    0
x13    1
y      0
dtype: int64

In [27]:
# since the number of null values are limited, I'm going to eliminate the rows containing them to make our data set a bit cleaner

new_df = df.dropna()
new_df.isnull().sum()

x0     0
x1     0
x2     0
x3     0
x4     0
x5     0
x6     0
x7     0
x8     0
x9     0
x10    0
x11    0
x12    0
x13    0
y      0
dtype: int64

In [29]:
# now time to run Pandas Profiling on the smaller EDA dataset

from pandas_profiling import ProfileReport

small_df = pd.read_csv("eda_data_small.csv")
prof = ProfileReport(small_df)
prof.to_file("output.html")

/var/folders/tr/lrj2g9jj48b3h_1g08xgzp8r0000gn/T/ipykernel_11770/74620152.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]